@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar {
        @apply flex flex-col gap-8 shrink-0 w-72 h-screen px-4 py-8 bg-stone-50 bg-opacity-90 border-r
    }


    .sidebar-colors {
        @apply text-stone-700 outline-stone-700 transition-colors duration-300 transform hover:bg-stone-200 hover:text-stone-800 active:bg-stone-300 active:text-stone-900
    }

    .sidebar-colors > span > button,
    .sidebar-colors > span > * > button {
        @apply text-stone-600 outline-stone-700 transition-colors duration-300 transform hover:bg-stone-200 hover:text-stone-800 active:bg-stone-300 active:text-stone-900

    }

    .sidebar-padding {
        @apply px-4 py-2
    }

    .carousel-bg > button > svg {
        @apply fill-stone-50
    }

    .carousel-bg > div {
        @apply bg-stone-100
    }

    .carousel-colors {
        @apply text-stone-800
    }

    .carousel-card {
        @apply flex flex-col w-[45%] h-[90%] pt-10 pr-3.5 pb-16 rounded-lg shadow-xl transition-all duration-300 overflow-auto gap-y-8
    }

    .carousel-card-title * {
        @apply text-4xl font-bold tracking-tight
    }

    .carousel-card-item-colors {
        @apply text-stone-800 transition-colors duration-300 transform hover:bg-stone-200
    }

    .carousel-card-item-colors > span > button {
        @apply text-stone-600 transition-colors duration-300 transform hover:bg-stone-200 active:text-black
    }

    .arrow-icon {
        @apply text-5xl drop-shadow-lg
    }

    .carousel-card-padding {
        @apply ml-14 pl-3 pr-10 py-2
    }
}

.bg-img {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(88, 28, 135)),
    url('images/gym-background.jpg');
    background-size: cover;
    background-position-y: 80%;
}
